.box-card{
  background-color: white;
  box-shadow: gray 2px 5px;
  margin: 1em;
  width: 300px;
  height: 300px;
  border-radius: 2em;
}

.imagem img{
  border-radius: 1em;
  padding: 1em;
}

.conteudo{
  text-align: center;
}

.preco_leiamais{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}